.rocket {
    position: fixed;
    right: 6px;
    bottom: 6px;
    font-size: 3em;
    width: 50px;
    transform: rotate(-45deg);
    color: white;
    cursor: pointer;
    opacity: 0;

    &:hover {
        color: #f3d34a;
    }
  }