@media screen and (max-width: 1255px) {

}

@media screen and (max-width: 640px) {

    .portfolio {
        height: fit-content;
        padding-top: 5em;

        &-cards {
            height: fit-content;
        }
    }
}