@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  
  background-color: #282C34;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none!important;
}

.active {
  color: #f3d34a!important;
  font-weight: 600;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1D1D1D; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #4e4646; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #F3D24A; 
}