@media screen and (max-width: 640px) {

    .cv {
        height: fit-content;

        &-presentation {
            text-align: center;
        }

        &-competences {
            flex-wrap: wrap;
        }

        &-parcours {
            flex-direction: column;
            width: 100%;
        }
    }

    .experiences {
        width: 100%;
    }

    .parcours-separation {
        display: none;
    }

    .formations {
        width: 100%;
    }

    .competence-block {
        width: 40%;
    }
}