@media screen and (max-width: 1255px) {
    .modal {
        height: auto;
    }
}

@media screen and (max-width: 640px) {
    .modal {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        overflow: scroll;
        min-width: 0;
        padding-top: 5em;
    }

    .video {
        width: auto;
        height: auto;
        margin: auto;
    }
}
