#tsparticles {
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to right top, #1a1a1e, #252326, #312c2e, #3c3637, #46403f, #46403f, #45403f, #45403f, #393536, #2d2b2c, #222122, #181818);
}